@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200&display=swap');

body {
  background: url(/src/content/background.svg) no-repeat center center fixed;
  background-size: cover;
  font-family: Epilogue , sans-serif;
  margin: 0;
}
